{% extends 'core/base.html' %}

{% block Titulo %}
    Jugadores
{% endblock Titulo %}

{% block Contenido %}
<div class="text-center my-4">
    <h2>Listado de Jugadores</h2>
    <p>Debajo podrás visualizar todos los jugadores</p>
</div>

<div class="mb-4 text-center">
    <a class="btn btn-secondary mx-1" href="{% url 'Partidos:index' %}">Ir al Inicio de la App</a>
    <a class="btn btn-success mx-1" href="{% url 'Partidos:jugadores_create' %}">Crear Jugador</a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Fecha de Nacimiento</th>
                <th>Nacionalidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for jugador in jugadores %}
                <tr>
                    <td>{{ jugador.id }}</td>
                    <td>{{ jugador.nombre }}</td>
                    <td>{{ jugador.apellido }}</td>
                    <td>{{ jugador.email }}</td>
                    <td>{{ jugador.fecha_nacimiento|date:"d M Y" }}</td>
                    <td>{{ jugador.nacionalidad }}</td>
                    <td>
                        <a href="{% url 'Partidos:jugador_detail' jugador.id %}" class="btn btn-info btn-sm">Ver Detalle</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock Contenido %}