{% extends 'core/base.html' %}


{% block Titulo %}
        Partidos
{% endblock Titulo %}

{% block Contenido %}
    Debajo podras visualizar todos los partidos

    <div>
        <a href="{% url 'core:index' %}">Ir al Inicio</a>
        <a href="{% url 'Partidos:index' %}">Ir al Inicio de la App</a>
        <a href="{% url 'Partidos:partidos_create' %}">Create Partido</a>

        <form action="{% url 'Partidos:partidos_list' %}" method="get">
            <input type="text" name="busqueda" placeholder="Buscar partido...">
            <button type ="submit">Buscar</button>
        </form>

        {% for partido in partidos %}

        <h1>
            {{partido}}
        </h1>
            
        {% endfor %}
    </div>
{% endblock Contenido %}