{% extends 'core/base.html' %}

{% block Titulo %}
    Home Page
{% endblock Titulo %}

{% block Contenido %}
{% if user.is_authenticated %}
    <p>Bienvenido {{ user.username }}</p>
{% endif %}

<div>
    {% if not user.is_authenticated %}
        <button onclick="location.href='{% url 'core:login' %}'" class="btn btn-primary">Login</button>
        <button onclick="location.href='{% url 'core:register' %}'" class="btn btn-primary">Crear Usuario</button>
    {% endif %}

    {% if user.is_authenticated %}
        <form method="post" action="{% url 'core:logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    {% endif %}
    
    <button onclick="location.href='{% url 'core:about' %}'" class="btn btn-primary">About</button>
    <button onclick="location.href='{% url 'Partidos:index' %}'" class="btn btn-primary">Ir a la App</button>
</div>
{% endblock Contenido %}